* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: bisque;
  color: #2c2c54;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: linear-gradient(90deg, pink, plum, lightblue);
}

nav h2 {
  color: purple;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li a {
  margin-left: 20px;
  text-decoration: none;
  color: #2c2c54;
  font-weight: 500;
}

nav ul li a:hover {
  color: purple;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(135deg, bisque, pink, lightblue);
}

.hero span {
  color: purple;
}

.hero-icons i {
  font-size: 36px;
  margin: 15px;
  color: purple;
}

.hero button {
  margin-top: 20px;
  padding: 12px 35px;
  border: none;
  border-radius: 25px;
  background: purple;
  color: white;
  cursor: pointer;
}

/* SECTIONS */
section {
  padding: 80px 60px;
  text-align: center;
}

h2 {
  color: purple;
  margin-bottom: 40px;
}

/* SKILLS */
.skill-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 25px;
}

.skill-box div {
  background: white;
  padding: 25px;
  border-radius: 15px;
}

.skill-box i {
  font-size: 30px;
  color: purple;
}

/* PROJECTS */
.project-card {
  background: white;
  padding: 30px;
  margin: 20px auto;
  width: 70%;
  border-radius: 20px;
}

.project-card i {
  font-size: 30px;
  color: purple;
}

/* EDUCATION */
.edu-card {
  background: white;
  padding: 25px;
  margin: 20px auto;
  width: 60%;
  border-radius: 20px;
}

.edu-card i {
  font-size: 28px;
  color: purple;
}

/* FOOTER */
footer {
  background: linear-gradient(90deg, pink, plum, lightblue);
  padding: 20px;
  text-align: center;
}

