* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

/* NAV */
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  background: #020617;
  position: sticky;
  top: 0;
}

nav h2 {
  color: #38bdf8;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  color: white;
  margin-left: 25px;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #38bdf8;
}

/* HERO */
.hero {
  height: 90vh;
  text-align: center;
  padding-top: 150px;
}

.hero span {
  color: #38bdf8;
}

.hero .sub {
  margin-top: 10px;
  color: #94a3b8;
}

.hero button {
  margin-top: 25px;
  padding: 12px 35px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #38bdf8, #22c55e);
  cursor: pointer;
  font-weight: bold;
}

/* SECTION */
section {
  padding: 80px 60px;
  text-align: center;
}

h2 {
  margin-bottom: 40px;
  color: #38bdf8;
}

/* SKILLS */
.skill-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 30px;
}

.skill-box div {
  background: #020617;
  padding: 30px;
  border-radius: 15px;
  transition: 0.3s;
}

.skill-box div:hover {
  transform: translateY(-10px);
}

.skill-box i {
  font-size: 40px;
  color: #22c55e;
}

/* PROJECTS */
.project-card {
  background: #020617;
  padding: 35px;
  margin: 25px auto;
  border-radius: 20px;
  width: 70%;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card i {
  font-size: 35px;
  color: #38bdf8;
  margin-bottom: 10px;
}

.tech {
  margin-top: 10px;
  color: #94a3b8;
}

/* CONTACT */
#contact i {
  color: #22c55e;
  margin-right: 10px;
}

/* FOOTER */
footer {
  background: #020617;
  padding: 20px;
  text-align: center;
}

